# データの永続化
## SQlite
* 軽量データベースを実装するC言語のライブラリ
* サーバ用のプロセスを必要としない、組み込み型のデータベースエンジン。
* 単一のファイルによって管理される(インメモリも可能)

In [1]:
import sqlite3

In [2]:
# DBファイルの保存先パス
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB(SQlite)を使う時の処理の流れ
1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

    # SQLの実行
    cur.execute(sql)

except sqlite3.Error as e:
    print("SQLiteエラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（単一レコード）

In [4]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # 文字列データを扱う場合はシングルクォーテーション(')で囲む必要がある
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"
    
    # SQLの実行
    cur.execute(sql)
    # コミット（DBに変更を反映）
    conn.commit()

except sqlite3.Error as e:
    print("SQLiteエラーが発生しました:", e)
finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（複数レコード）

In [5]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # 複数レコードの挿入
    # INSERT INTO テーブル名 VALUES （列に対応したプレースホルダーをカンマ区切りで）
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビックType-R', 5000000)
    ]
    
    # SQLの実行
    cur.executemany(sql, cars)

    # DBに変更を反映させる
    conn.commit()

except sqlite3.Error as e:
    print("SQLiteエラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # * の部分は、取得したい列名に置き換えることも可能
    sql = "SELECT * FROM cars;"
    
    # SQLの実行
    cur.execute(sql)
    
    # コミット（DBに変更を反映）
    # conn.commit()

except sqlite3.Error as e:
    print("SQLiteエラーが発生しました:", e)

else:
    for row in cur:
        # 行データ(row)はタプルなのでアンパックして各列の値を取得可能
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビックType-R 5000000.0

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE id = 1;
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = '911カレラ';"
    # sql = "DELETE FROM cars WHERE name like '%カレラ';"
    
    # SQLの実行
    cur.execute(sql)
    
    # コミット（DBに変更を反映）
    conn.commit()

except sqlite3.Error as e:
    print("SQLiteエラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データの更新

In [8]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET 列名 = 新しい値 WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQLの実行
    cur.execute(sql, (5000000, 2))
    
    # コミット（DBに変更を反映）
    conn.commit()

except sqlite3.Error as e:
    print("SQLiteエラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()